<app-menu></app-menu>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">APLICACIÓN DE REGISTRO Y CARNETIZACIÓN</h5>
                    <h6 class="card-subtitle mb-2 text-muted mt-4">Instrucciones de uso</h6>
                    <p class="card-text"><b>Informacion Administrador:</b><br><b>1)</b> Inicia sesion como administrador en la pestaña de (Ingresar), con correo y contraseña.<br>
                    <b>2)</b> Al ingresar  el administrador podra registrar a los estudiantes
                    con su respectiva informacion, mediante un formulario.<br><b>3)</b> Al ingresar los datos del estudiante,
                    el administrador podra ver los datos registrados en una tabla en el apartado de (Consultar).<br>
                    <b>4)</b> En el apartado de Consultar el administrador podra manipular la informacion registrada, podra:
                    Borrar y editar la informacion de cada estudiante.<br><br><br>
                    <b>Informacion Estudiante:</b><br><b>1)</b> El estudiante puede ingresar y consultar sus datos si anteriormente fue registrado por un administrador<br>
                    <b>2)</b> En el apartado Registrarse el estudiante podra ingresar mediante su correo electronico y una contraseña la cual sera su numero de documento<br>
                    <b>3)</b> Una vez el estudiante halla ingresado se le mostraran sus respetivos datos, de no estar inscrito el estudiante
                    no podra ingresar. </p>
                </div>
            </div>
        </div>
    </div>
</div>