<app-menu></app-menu>

<div class="container mt-5">

    <div class="mb-5">
        <h5 class="card-title text-center ">DESARROLLADORES</h5>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Brayan Francisco Zipa Fonseca</h5>
                    <h6 class="card-subtitle mb-2 text-muted mt-4">Estudiante de tecnología en Desarrollo de Software</h6>
                    <p class="card-text">Código: 2220201004<br>Edad: 22 Años<br>Programador<br>
                        Diseñar, producir o mantener (programar, adaptar e integrar) componentes o subconjuntos de software 
                        (clases, módulos, pantallas, rutinas, subsistemas, programas en general) conforme a especificaciones 
                        (funcionales y técnicas) para ser integrados en aplicaciones.</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">German David Botero Nuñez</h5>
                    <h6 class="card-subtitle mb-2 text-muted mt-4">Estudiante de tecnología en Desarrollo de Software</h6>
                    <p class="card-text">Código: 2220201042<br>Edad: 21 Años<br>Programador<br>
                        Diseñar, producir o mantener (programar, adaptar e integrar) componentes o subconjuntos de software 
                        (clases, módulos, pantallas, rutinas, subsistemas, programas en general) conforme a especificaciones 
                        (funcionales y técnicas) para ser integrados en aplicaciones.</p>
                </div>
            </div>
        </div>
    </div>
</div>